<section class="w-100 pt-5 min-vh-100">
  <div class="container">
    <div class="row">
      <!-- <h1 class="p-2 text-center rounded-3 z-5 bg-white bg-opacity-75">Order Now !!</h1> -->
      <div class="col-sm-12 col-lg-6 z-5 bg-white p-5">
        <h1 class="mb-4 fw-semibold">{{'contactUs.title' | translate}}</h1>

        <div class="col-12">
          <form class="" [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
            <!-- [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" -->
            <input class="mb-4 w-100 border-0 border-bottom p-2 rounded-3" type="text" required="required"
              placeholder="{{'contactUs.name' | translate}}" formControlName="name" name="name"
              data-error="full_name is required." />
            <!-- [(ngModel)]="FormData.name" -->

            <input class="mb-4 w-100 border-0 border-bottom p-2 rounded-3" type="email" required="required"
              placeholder="{{'contactUs.email' | translate}}" formControlName="email" name="email"
              data-error="Email is required." />

            <input class="mb-4 w-100 border-0 border-bottom p-2 rounded-3" type="number" required="required"
              placeholder="{{'contactUs.phone' | translate}}" formControlName="phone" name="phone"
              data-error="PhoneNum is required" />

            <input class="mb-3 w-100 border-0 border-bottom p-2 rounded-3" type="text" required="required"
              placeholder="{{'contactUs.company' | translate}}" formControlName="companyName" name="name"
              data-error="company_name is required." />

            <div class=" mb-3 d-flex flex-column">
              <!-- <label class="fw-semibold" for="quantity">{{'contactUs.quantity' | translate}}</label> -->
              <select class="p-2 px-3" id="quantity" name="quantity" formControlName="quantity">
                <option [ngValue]="null" disabled>{{'contactUs.quantity' | translate}}</option>

                <option value="0 - 1000">0 - 1000</option>
                <option value="1000 - 10,000">1000 - 10,000</option>
                <option value="10,000 +">10,000 +</option>
              </select>
            </div>

            <textarea class="w-100 mb-2F p-0 py-2 border-0 border-bottom text-black rounded-3 p-4" name="text"
              formControlName="notes" placeholder="{{'contactUs.notes' | translate}}" rows="6">
            </textarea>

            <button class="w-50 btn text-white bg-black" [disabled]="!formData.valid" type="submit">
              <!--  [ngClass]="!FormData.valid?'invalidBtn':'sendBtn'" -->
              {{'contactUs.sendBtn' | translate}}
            </button>
          </form>
        </div>
      </div>
      <!-- ------------------get in touch-------------- -->
      <div class="col-sm-12 col-lg-6 z-5 bg-white p-5">
        <h4 class="mb-5 text-center">{{'contactUs.title2' | translate}}</h4>
        <h5 class="mb-3 text-center ps-4 mt-5 fs-4 fw-semibold">{{'contactUs.email' | translate}}</h5>
        <h5 class="mb-4 text-center ps-4 fs-4 fw-semibold">{{'contactUs.media' | translate}}</h5>

        <div class="media ps-4 mt-5 d-flex justify-content-evenly">
          <a class="fs-1 link-dark text-decoration-none"><i class="bi bi-twitter"></i></a>
          <a class="fs-1 link-dark text-decoration-none"><i class="bi bi-instagram"></i></a>
          <a class="fs-1 link-dark text-decoration-none"><i class="bi bi-youtube"></i></a>
          <a class="fs-1 link-dark text-decoration-none"><i class="bi bi-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
