<div class="w-100 mt-0">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <!-- <img class="" style="width: 1600px; height: 880px;" src="../../../assets/images/gallery5.jpg" alt=""> -->
      <div style="width: 1600px; height: 880px;" class="bgImg"></div>
    </ng-template>
    <ng-template carouselSlide>
      <!-- <img class="" style="width: 1600px; height: 880px;" src="../../../assets/images/mechanic-changing-tires-car-service.jpg" alt=""> -->
      <div style="width: 1600px; height: 880px;" class="bgImg2"></div>
    </ng-template>
  </owl-carousel-o>
</div>
