<section class=" handleNav">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary3.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/repair-concept-mechanic-holding-tire-16781.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary1.avif" alt="">
      </div>
      <div class="col-md-4 mb-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary2.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary3.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary1.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary2.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/hands-only-mechanic-holding-tire.avif" alt="">
      </div>
      <div class="col-md-4 col-12 z-5">
        <img class="w-100" src="../../../assets/images/gallary3.avif" alt="">
      </div>
      <!-- <div class="col-md-4 col-12 z-5">
        <img src="" alt="">
      </div> -->
    </div>
  </div>
  <app-footer></app-footer>
</section>
